"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "language-ino"
    ]
    telemetryConsent: "no"
    themes: [
      "dracula-ui"
      "dracula-syntax"
    ]
    uriHandlerRegistration: "always"
  editor: {}
  "exception-reporting":
    userId: "51d5e2bf-ab1d-4ae6-b75c-211432affed8"
  "flex-tool-bar": {}
  latex:
    buildOnSave: true
    useDicy: true
  "pdf-view":
    fitToWidthOnOpen: true
    paneToUseInSynctex: "right"
  "platformio-ide-terminal":
    core:
      shell: "C:\\Windows\\System32\\cmd.exe"
      workingDirectory: "Home"
    style:
      theme: "linux"
    toggles:
      autoClose: true
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "text.tex.latex"
    ]
  "sync-settings":
    checkForUpdatedBackup: false
    gistId: "222098ae6853b61381c8718bc36cc12a"
    hiddenSettings:
      _lastBackupTime: "2020-08-03T22:17:47Z"
    personalAccessToken: "e2eac556f2d3e31b7e096dbfc82a7cc977ea4834"
  "tool-bar":
    iconSize: "16px"
    position: "Right"
    useTouchBar: false
  welcome:
    showOnStartup: false
