* {
  purple: #BD93F9;
  purple-faded: #BD93F966;
  pink: #FF79C6;
  red: #FF5555;
  orange: #FFB86C;
  green: #4DC76E;
  yellow: #E6D80B;
  cyan: #8BE9FD;
  background: #282A36;
  selection: #44475A;
  selection-opaque: #44475AE0;
  comment: #6272A4;
  foreground: #f8f8f2;
  white: #DDD;
  transparent: #00000000;
}
